* {
    margin: 0;
    padding: 0;
}

body {
    margin: 100px 200px;
}

.flex_row {
    display: flex;
    /* height: 1000px;
    width: 1000px; */
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    height: 200px;
    width: 200px;
    /*margin: 30px;*/
}

.gap_1 {
    gap: 1rem;
}

.gap_2 {
    gap: 2rem;
}

.pt_2 {
    padding-top: 2rem;
}

.margin_auto {
    margin: 0 auto;
}

#color_picker {
    width: 10vw;
}